$font-size-from-text: 16px;
$font-size-from-title: 18px;
$backround-hover: rgba(115,187,158,0.6);
$color-header-text: #4d4959;
$color-from-text: #848789;
$color-from-title: #353738;
$lineheigth-text: 30px;
$main-backround-color: #f7f7f7;