.hulot {
   width: 100%;
   max-height: 100%;
   &__container {
      display: flex;
      height: 100%;
   }

   &__main-first {
      min-height: 100%;
      flex-basis: 33.3333%;
      position: relative;
      cursor: pointer;
         &::before {
            content: '';
            transition: all 0.75s;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-image: url('../img/hulot__block/hulot__logo.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: $backround-hover;
            opacity: 0;
         }
         &:hover {
            &::before {
               content: '';
               opacity: 1;
            }
         }
   }

   &__extra {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 33.3334%;
   }

   &__main-second {
      min-height: 100%;
      flex-basis: 33.3333%;
      position: relative;
      cursor: pointer;
         &::before {
            content: '';
            transition: all 0.75s;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-image: url('../img/hulot__block/hulot__logo.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: $backround-hover;
            opacity: 0;
         }
         &:hover {
            &::before {
               content: '';
               opacity: 1;
            }
         }
   }
}

@media (max-width: 767.98px) {
   .hulot__container {
      flex-direction: column;
   }
}