@import "modules/nullstyle.scss";
@import "modules/_variable.scss";
@import "modules/main-style-project.scss";
@import "modules/header.scss";
@import "modules/generation__block.scss";
@import "modules/oliva.scss";
@import "modules/boriosa__block.scss";
@import "modules/hulot__block.scss";
@import "modules/carousel__block.scss";
@import "modules/collection__img&button__block.scss";
@import "modules/submission__block.scss";



* {
   font-family: 'Lato', sans-serif;
}

body {
   scroll-behavior: smooth;
}


::-webkit-scrollbar {
   width: 8px;
   background: $main-backround-color;
}

::-webkit-scrollbar-thumb {
   width: 8px;
   background-color: $color-from-text;
}


.wrapper {
   width: 100%;
   min-height: 110vh;
   display: flex;
   flex-direction: column;
}

.main {
   width: 100%;
   flex: 1 1 auto;
}